<!DOCTYPE html>
<html>
<header>
  <meta charset="utf-8" />
  <title></title>
<link rel="stylesheet" href="css/style.css" type="text/css"/>
</header>
<body>
<div id="input">
  <select>
    <option>言語を選択して下さい</option>
    <option>Java</option>
    <option>JavaScript</option>
  </select>
  <input type="button" value="Start!!" id="btnStart"/>
</div>
<div id="title"></div>
<div id="code"></div>
<div id="result"></div>
<div id="cat"></div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/type.js"></script>
<script>
$('#btnStart').on('click', clickStart);
</script>
</body>
</html>
